@import url(../Resource/stylesheet/masterStyles.css);

.copy-heading {
	text-align: center;
}

.author-info {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	margin: 16px 0;
}

.author-image {
	width: 25%;
	margin: 5px;
	box-shadow: 0 0 15px 5px rgba(var(--primary-color), 0.5);
}

.author-details {
	width: 75%;
}

.author-details p {
	margin-bottom: 15px;
}
